/**
 * Typography
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  font-family: $font-family-futura, sans-serif;
  line-height: 16px;
  color: $color-dark-grey;
}

a {
  text-decoration: none;
  outline: none;
  color: $color-dark-blue;

  &:active,
  &:focus,
  &:hover {
    color: $color-dark-blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: rem(30px);
  line-height: rem(40px);
  font-weight: $font-weight-medium;
  color: $color-dark-blue;
}

h4 {
  font-size: rem(18px);
  font-weight: $font-weight-medium;
}

h5 {
  font-size: rem($font-size-base);
  font-weight: $font-weight-medium;
}

h6 {
  font-size: rem(12px);
  line-height: rem(14px);
  font-weight: $font-weight-medium;
}

p {
  margin: 0 0 1em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}
