@import '../../style/common';

/**
 * ForgotPassword component
 */
.ForgotPassword {
  padding-top: 70px;

  .main {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 62px 0 35px 0;
  }

  .Form {
    padding: 11px 0 10px 0;

    > label {
      margin-bottom: 49px;
    }
  }

  .buttons {
    position: relative;
    margin-bottom: 52px;
    text-align: center;

    .Alert {
      width: 100%;
    }
  }

  .Button {
    width: 200px;
  }

  h2 {
    margin-bottom: 26px;
  }

  p {
    text-align: left;
    line-height: rem(23px);
    margin-bottom: 24px;
  }

  a,
  .link {
    color: $color-light-blue;
    cursor: pointer;
  }

  @include device-down(sm) {
    .main {
      max-width: 100%;
      padding: 60px 20px;
    }
  }
}
